nav {
    height: 80px;
    color: #FFF;
    position:fixed;
    z-index:10;
    left:0;
    right: 0;
    top:0;   
}
.formcad{
    width: 400px;
    height: 425px;
    background-color: #111111;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:200px;
    margin-left:-200px;
    text-align: center;
}
body{
    background-repeat: no-repeat;
	background-size: 100%;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    display:inline-block; 
}
nav ul div{
    float:right;
}
.button {
    padding:6px 15px;
    border:2px solid #005500;
    background:#00cc00;
    color:#000;
}



#cadButton .button{
    overflow: hidden;
    opacity: 0;
    display: block;
    width: 280px;
    height: 124px;
}
#cadButton{
    background-image: url(../imagens/feegIT.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    width: 250px;
    height: 80px;
    background-color: #222222;
    border: 2px solid #000;
    background: linear-gradient(top, #34696f, #2f5f63);
    border-radius: 10px;
    box-shadow: 3px 8px 0 #000;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}