nav {
    height: 80px;
    color: #FFF;
    position:fixed;
    z-index:10;
    left:0;
    right: 0;
    top:0;   
}
.formcad{
    width: 400px;
    height: 400px;
    background-color: #2f2e2e;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:200px;
    margin-left:-200px;
    text-align: center;
}
body{
    background-repeat: no-repeat;
	background-size: 100%;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    display:inline-block; 
}
nav ul div{
    float:right;
}
.button {
    padding:6px 15px;
    border:2px solid #005500;
    background:#00cc00;
    color:#000;
}
