.hidden{
    display:none;
}
body{
    background-color: #2f2e2e;
    padding: 0;
    margin: 0;
    color: #FFF;
}

.container{
    position:relative;
    width: 990px;
    margin: 0 auto;
}



a{
    color: #ce0000;
    text-decoration: none;
}

ul{
    list-style: none;
}

ul li a{
    color: inherit;
}


aside{
    float:left;
    width:15%;
    margin: auto;
}

.barra{
    background-color: #000;
    border-bottom:2px solid #fff;
}

.barra img{
    height:80px;
    width: 180px;
}



.profilePic{
    border-radius: 90px;
    height: 50px;
    width: 50px;
}


textarea{
    resize:none;
}

.hFixer{
    top: 75px;
}

.fRight{
    float:right;
}

/*Seta*/
.setaUp:before {
    
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0; 
    height: 0; 
    background: none;
    
    
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #cc0000;
}
.menuFix{
    display: block;
    background: #cc0000;
    padding: 5px;
}