.hidden{
    display:none;
}
body{
    background-color: #2f2e2e;
    padding: 0;
    margin: 0;
    color: #FFF;
}

.container{
    position:relative;
    width: 990px;
    margin: 0 auto;
}



a{
    color: #ce0000;
    text-decoration: none;
    color: #00cc00;
}

ul{
    list-style: none;
}

ul li a{
    color: inherit;
}


aside{
    float:left;
    width:20%;
    margin: auto;
}

.barra{
    background-color: #000;
    border-bottom:2px solid #fff;
}

.barra img{
    height:80px;
    width: 180px;
}



.profilePic{
    border-radius: 90px;
    height: 30px;
    width: 30px;
}


textarea{
    resize:none;
}

.hFixer{
    top: 75px;
}

.fRight{
    float:right;
}

.button {
    padding:6px 15px;
    border:2px solid #005500;
    background:#00cc00;
    color:#000;
}



